<!-- app.component.html -->
<nav class="navbar">
  <div class="logo">Fashion Store</div>
  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/aboutus">About Us</a></li>
    <li><a routerLink="/contactus">Contact</a></li>
    <li><a routerLink="/shipping">Shipping</a></li>
    <li><a routerLink="/contactus">Contact</a></li>
    <li><a routerLink="/payment">Payment</a></li>
    <li><a routerLink="/orders">Order</a></li>
  </ul>
</nav>

<router-outlet></router-outlet> <!-- Konten berubah berdasarkan halaman -->

