<div class="softpink-bg mt-4 p-4 rounded">
  <h2 class="text-center text-softpink mb-4">Daftar Order</h2>

  <!-- Daftar Pemesanan -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
    <div class="col" *ngFor="let item of orders">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            <strong>Nama:</strong> {{ item.nama }} 
            <strong>Produk:</strong>{{ item.products_id?.nama }}<br />
            <strong>Order:</strong> {{ item.order }}<br />
            <strong>Jumlah:</strong> {{ item.jumlahOrder }}<br />
            <strong>Total:</strong> {{ item.total }}<br />
            <strong>Created:</strong> {{ item.createdAt }}
          </p>
          <button
            type="button"
            class="btn btn-warning mt-3 me-2"
            [routerLink]="['/payments']"
          >
            Payment & Shipping
          </button>
          <button class="btn btn-warning me-2" (click)="getOrderById(item._id)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteOrder(item._id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
