<div class="container mt-4">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- Loader -->
  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Tombol Tambah Produk -->
  <button
    type="button"
    class="btn btn-primary mb-3 btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#tambahProdukModal"
  >
    <i class="bi bi-plus-circle"></i> Tambah Produk
  </button>

  <!-- Modal Tambah Produk -->
  <div
    class="modal fade"
    id="tambahProdukModal"
    tabindex="-1"
    aria-labelledby="tambahProdukModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tambahProdukModalLabel">Tambah Produk</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productsForm" (ngSubmit)="addProduct()" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Nama</label>
              <input type="text" class="form-control" formControlName="nama" />
            </div>
            <div class="mb-3">
              <label class="form-label">Deskripsi</label>
              <textarea class="form-control" formControlName="deskripsi" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Harga</label>
              <input type="number" class="form-control" formControlName="harga" />
            </div>
            <div class="mb-3">
              <label for="kategori" class="form-label">Kategori</label>
                          <select
                              id="kategori"
                              class="form-select"
                              formControlName="kategori"
                          >
                              <option value="Moisturizer">Pria</option>
                              <option value="Serum">Wanita</option>
                              <option value="Toner">Anak</option>
                          </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Brand</label>
              <input type="text" class="form-control" formControlName="brand" />
            </div>
            <div class="mb-3">
              <label class="form-label">Size</label>
              <input type="text" class="form-control" formControlName="size" />
            </div>
            <div class="mb-3">
              <label class="form-label">Foto</label>
              <input type="file" class="form-control" (change)="onFileSelected($event)" />
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
              <button class="btn btn-success" type="submit" [disabled]="isSubmitting">
                {{ isSubmitting ? 'Menyimpan...' : 'Tambah Produk' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


        <!-- Data PRODUCTS -->
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4" *ngIf="!isLoading">
    <div class="col" *ngFor="let item of products">
      <div class="card shadow-sm h-100">
        <div class="card-body">
         <h5 class="card-title">{{ item.products?.nama  }}</h5>
          <p class="card-text">
            <strong>Nama:</strong> {{ item.nama }}
            <br />
            <strong>Deskripsi:</strong> {{ item.deskripsi }}
            <br />
            <strong>Harga:</strong> {{ item.harga}}
            <br />
            <strong>Kategori:</strong> {{ item.kategori}}
            <br />
            <strong>Brand:</strong> {{ item.brand }}
            <br />
            <strong>Size:</strong> {{ item.size }}
            <br />
            <strong>Foto:</strong> {{ item.foto }}
          </p>
          <button
            type="button"
            class="btn btn-warning mt-3 me-2"
            (click)="getProductById(item._id)"
          >
            Edit
          </button>

          <button
            type="button"
            class="btn btn-danger mt-3"
            (click)="deleteProduct(item._id)"
          >
            Hapus
          </button>

  <!-- Modal Edit Produk -->
  <div
    class="modal fade"
    id="editProdukModal"
    tabindex="-1"
    aria-labelledby="editProdukModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProdukModalLabel">Ubah Produk</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productsForm" (ngSubmit)="updateProduct()" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Nama</label>
              <input type="text" class="form-control" formControlName="nama" />
            </div>
            <div class="mb-3">
              <label class="form-label">Deskripsi</label>
              <textarea class="form-control" formControlName="deskripsi" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Harga</label>
              <input type="number" class="form-control" formControlName="harga" />
            </div>
            <div class="mb-3">
              <label for="kategori" class="form-label">Kategori</label>
                          <select
                              id="kategori"
                              class="form-select"
                              formControlName="kategori"
                          >
                              <option value="Pria">Pria</option>
                              <option value="Wanita">Wanira</option>
                              <option value="Anak">Anak</option>
                          </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Brand</label>
              <input type="text" class="form-control" formControlName="brand" />
            </div>
            <div class="mb-3">
              <label class="form-label">Size</label>
              <input type="text" class="form-control" formControlName="size" />
            </div>
            <div class="mb-3">
              <label class="form-label">Foto (upload baru jika ingin ganti)</label>
              <input type="file" class="form-control" (change)="onFileSelected($event)" />
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
              <button class="btn btn-success" type="submit" [disabled]="isSubmitting">
                {{ isSubmitting ? 'Menyimpan...' : 'Simpan Perubahan' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
