<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold text-dark" routerLink="/">IAM Fashion Store</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <body>
        <!-- partial:index.partial.html -->
        <div class="header">
          <div class="container">
            <div class="navbar">
              <div class="logo">
                <a href="index.html"><img src="" alt="I AM Fashion Store" width="125px" /></a>
              </div>
              <nav>
                <ul id="MenuItems">
                  <nav>
                    <nav>
                      <ul>
                        <li><a routerLink="/aboutus">About Us</a></li>
                        <li><a routerLink="/products">Product</a></li>
                        <li><a routerLink="/review">Review</a></li>
                        <li><a routerLink="/aboutus">Contact Us</a></li>
                        <li><a routerLink="/shipping">Shipping</a></li>
                      </ul>
                    </nav>                           
                  </nav>            
                </ul>
              </nav>
              <a href="cart.html"><img src="" alt="" width="30px" height="30px" /></a>
              <img src="" alt="" class="menu-icon" onclick="menutoggle()" />
            </div>